
.conteiner {
  position: relative;
    max-width: 720px;
    height: 100vh;
      margin: 0 auto;
      background-color: rgb(150, 200, 243);
      /* width: 100%;
      padding-right: 16px;
      padding-left: 16px;
      margin-right: auto;
      margin-left: auto; */
}
button {
  background-color: #fff;
  border-radius: 10px;
}
header{
  max-height: 100px;
  margin-bottom: 40px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}
ul li img {
  width: 200px;
  height: auto;
  opacity: 50%;
  background-color: #fff;

}
a.active {
box-shadow: 10px 5px 5px black;
}

#result {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 100%;
  padding: 4px;
  font-weight: 900;
  font-size: 26px;
  position: relative;
  top: -20px;
  left: -30px;
  background-color: rgb(150, 200, 243);
}
#basket {
  text-decoration: none;
}
.basket {
  width: auto;
  height: 70px;
}
.item {
  display: flex;
  margin: 10px 0;
  align-items: center;
  justify-content: space-between;
}
.products, .cart {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.products.active {
  background-color: aqua;
   display: none;
}
.products img, .cart img {
  max-width: 50px;
  height: auto;
}
.product-btn {
width: 300px;
display: flex;
align-items: center;
justify-content: space-between;
}
.name-product {
font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: .2rem;
}
.price-product{
font-weight: 900;
}
.quantity_minus_plus{
display: flex;
align-items: center;
margin: 0 20px;
font-weight: 900;
justify-content: end;
}

#itemNumber {
  display: flex;
  justify-content: center;
  margin: 0 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 600;
  width: 30px;
  max-width: 100%;
}
#minus img, #plus img{
  max-width: 10px;
  height: auto;
}
.minus, .plus {
  padding: 10px;
  font-weight: 900;
}
.buy {
  width: 100px;
  height: 50px;
  text-transform: uppercase;
}
.buy:hover {
  border: 0;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}
.inBasket {
 display: none;
}
.inBasket.active {
  display: flex;
  flex-direction: column;
}
.sum {
  margin-left: 20px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.2rem;
  width: 80px;
}
.removeItem {
  padding: 5px;
  border: 2px solid rgb(150, 200, 243);
  margin-right: 20px;
  border-radius: 10px;
  font-weight: 800;
  background-color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.removeItem:hover {
  background-color: rgb(255, 0, 0);
  color: #fff;
  border: #fff;
}
.fotterBasket {
border: rgb(150, 200, 243) 1px solid;
border-radius: 10px;
margin: 0 auto;
padding: 5px 0;
background-color: rgb(255, 255, 255);
display: flex;
justify-content: space-around;
position: absolute;
width: 100%;
bottom: 20px;
left: 0;
}
.cartBtn {
height: 50px;
background-color: rgb(150, 200, 243);
color: black;
font-size: 26px;
}
.cartBtn:hover {
  background-color: blue;
  box-shadow: 5px 5px 5px rgb(150, 200, 243);
  color: #fff;
}
.cartBuy {
  margin-right: 10px;
}
.totalSum {
  font-size: 30px;
  font-weight: bold;
}
#totalSum {
  width: 200px;
}
